## data analysis with pandas

### CSV , EXCEL , JSON , DATABASES EXPORTING

#### CSV

In [ ]:
import pandas as pd

In [ ]:
csv_data = pd.read_csv('market1.csv')
market = pd.DataFrame(csv_data)
market

#### EXCEL

In [ ]:
ex_data = pd.read_excel('bank additional full (F).xlsx')
bank = pd.DataFrame(ex_data)
bank.head()

#### JSON

In [ ]:
import json
js_data = open('choice.json')
choices = json.load(js_data)
choices

#### DATABASES

In [ ]:
import mysql.connector
conn = mysql.connector.connect(host='localhost', user='root', passwd='', database='ugach')
conn

In [ ]:
sql = "delete from prac_db where roll_no=25"
pd.read_sql_query(sql,conn)

In [ ]:
mycursor = conn.cursor()
sql = "INSERT INTO prac_db (name, roll_no,marks ) VALUES (%s, %s , %s)"
val = ("manisha",25,35)
mycursor.execute(sql, val)

sql = "select * from prac_db"
pd.read_sql_query(sql,conn)

In [ ]:
# import mysql.connector

In [ ]:
# conn2 = mysql.connector.connect(host="localhost", user='root',passwd='', db='ugach')

In [ ]:
cur2 = conn.cursor()
sql2 = "delete from prac_db where roll_no=13"
cur2.execute(sql2,conn)

In [ ]:
sql2 = "select * from prac_db"
pd.read_sql_query(sql2,conn)