### DATA AGGREGATION (mean,sum,min,max,std,count)

In [1]:
import pandas as pd
data = pd.read_csv('IRIS.csv')
iris = pd.DataFrame(data)
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
data = pd.read_csv('Ecommerce Customers.csv')
ecom = pd.DataFrame(data)
ecom.head(10)

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
5,alvareznancy@lucas.biz,"645 Martha Park Apt. 611\nJeffreychester, MN 6...",FloralWhite,33.871038,12.026925,34.476878,5.493507,637.102448
6,katherine20@yahoo.com,"68388 Reyes Lights Suite 692\nJosephbury, WV 9...",DarkSlateBlue,32.021596,11.366348,36.683776,4.685017,521.572175
7,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,Aqua,32.739143,12.351959,37.373359,4.434273,549.904146
8,vchurch@walter-martinez.com,"860 Lee Key\nWest Debra, SD 97450-0495",Salmon,33.987773,13.386235,37.534497,3.273434,570.200409
9,bonnie69@lin.biz,"PSC 2734, Box 5255\nAPO AA 98456-7482",Brown,31.936549,11.814128,37.145168,3.202806,427.199385

In [20]:
ecom[ecom['Avatar']=="Salmon"].count()

Email                   3
Address                 3
Avatar                  3
Avg. Session Length     3
Time on App             3
Time on Website         3
Length of Membership    3
Yearly Amount Spent     3
dtype: int64

### let's find out average of 'TIME ON APP' with the customers having 'AQUA' Avatar
AND ALSO SOME OTHER AGGREGATION FUNCTIONS

In [21]:
filt = ecom[ecom['Avatar']=='Aqua']
filt

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
7,awatkins@yahoo.com,Unit 6538 Box 8980\nDPO AP 09026-4941,Aqua,32.739143,12.351959,37.373359,4.434273,549.904146
66,tadams@contreras.info,"049 Matthew Terrace\nLake Matthew, MS 20210",Aqua,33.078717,12.695790,35.358444,4.001786,553.601535
103,qgarcia@williams.com,"465 Kenneth Common Apt. 192\nNorth Tracy, WI 3...",Aqua,33.437830,12.595420,36.262032,2.969640,492.105052
185,oolson@collins.com,"07867 Horn Lake\nWest Teresatown, VT 64387-1228",Aqua,32.533797,12.293366,37.064621,3.620365,485.923131
254,cbrady@gonzalez-miller.com,"193 Ashley Plaza Suite 706\nHernandezport, WV ...",Aqua,32.711119,12.326291,36.673878,3.350279,482.602467
293,hannahgilbert@gmail.com,"6961 Mary Stravenue Suite 857\nHilltown, TX 52...",Aqua,33.794756,10.982806,34.810631,3.201802,451.727863

In [19]:
filt[fil'Avatar'].count()

6

### Mean()

In [11]:
filt['Time on App'].mean()

12.207605304482167

### Sum()

In [12]:
filt['Time on App'].sum()

73.245631826893

### Max()

In [13]:
filt['Time on App'].max()

12.695789749023144

### Min()

In [14]:
filt['Time on App'].min()

10.982805534662877

### Std()

In [15]:
filt['Time on App'].std()

0.621472166934257

### Count()

In [16]:
filt['Time on App'].count()

6