In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

### Import data

In [35]:
house = pd.read_csv('houseprices.csv')
house

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

### Handle the missing values

In [36]:
mean_bed = house['bedrooms'].mean()

In [37]:
int_mean = int(mean_bed)
print(int_mean)

4

In [40]:
house['bedrooms'] = house['bedrooms'].fillna(int_mean)
house['bedrooms']

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [41]:
house

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

### Importing model

In [42]:
reg = linear_model.LinearRegression()

In [43]:
reg.fit(house[['area','bedrooms','age']],house.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### The values of m1,m2,m3 is :

In [44]:
print(reg.coef_)

[  112.06244194 23388.88007794 -3231.71790863]

#### Values of intercept (b) is :

In [45]:
reg.intercept_

221323.00186540408

### Prediction

In [47]:
reg.predict([[3000,4,20]])

array([586431.48983091])