### DECISION TREE

In [63]:
import pandas as pd

In [64]:
data = pd.read_csv('salaries.csv')
salary = pd.DataFrame(data)

In [65]:
salary.head(3)

  company               job     degree  salary_more_then_100k
0  google   sales executive  bachelors                      0
1  google   sales executive    masters                      0
2  google  business manager  bachelors                      1

#### DATA PRE-PROCESSING : 
    Inputs : comapnyjob,salary (features)
    Outputs: salary_more_then_100k (target)

In [66]:
inputs = salary.drop(['salary_more_then_100k'],axis='columns')
inputs.head(3)

  company               job     degree
0  google   sales executive  bachelors
1  google   sales executive    masters
2  google  business manager  bachelors

In [67]:
targets = salary['salary_more_then_100k']
targets.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

### ENCODING : We need 3 objects of class LE() for 3 columns

In [68]:
from sklearn.preprocessing import LabelEncoder
le_comp = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [69]:
inputs['n_company'] = le_comp.fit_transform(salary['company'])
inputs['n_company']

0     2
1     2
2     2
3     2
4     2
5     2
6     0
7     0
8     0
9     0
10    1
11    1
12    1
13    1
14    1
15    1
Name: n_company, dtype: int64

In [70]:
inputs['n_job'] = le_comp.fit_transform(salary['job'])
inputs['n_job']

0     2
1     2
2     0
3     0
4     1
5     1
6     2
7     1
8     0
9     0
10    2
11    2
12    0
13    0
14    1
15    1
Name: n_job, dtype: int64

In [71]:
inputs['n_degree'] = le_comp.fit_transform(salary['degree'])
inputs['n_degree']

0     0
1     1
2     0
3     1
4     0
5     1
6     1
7     0
8     0
9     1
10    0
11    1
12    0
13    1
14    0
15    1
Name: n_degree, dtype: int64

In [79]:
# inputs.drop(['company','job','degree','n?_job'])

In [80]:
n_inputs.head(3)

   n_company  n_job  n_degree
0          2      2         0
1          2      2         1
2          2      0         0

In [81]:
targets.head(3)

0    0
1    0
2    1
Name: salary_more_then_100k, dtype: int64

### TRAINING

In [82]:
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier()

In [83]:
DTC.fit(n_inputs,targets)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [84]:
DTC.score(n_inputs,targets)

1.0

In [85]:
DTC.predict([[2,2,0]])

array([0])

#### TRAINING USING train_test_split and then training

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
 X_train, X_test, y_train, y_test = train_test_split(n_inputs, targets, test_size=0.2, random_state=42)

In [88]:
X_train.shape

(12, 3)

In [89]:
X_test.shape

(4, 3)

In [90]:
DTC2 = DecisionTreeClassifier()

In [91]:
DTC2.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [92]:
DTC.score(X_train,y_train)

1.0

In [93]:
y_test

0     0
1     0
5     1
14    1
Name: salary_more_then_100k, dtype: int64

In [94]:
DTC.predict([[2,2,1]])

array([0])